/**
 * helper: float
 *
 * float & centering
 *
 *
 *
 * @author Björn Hase
 *
 */

@mixin crispy__float() {
    .is-float-left {
        float: left;
    }

    .is-float-right {
        float: right;
    }

    .has-float-none {
        float: none;
    }

    .is-centered {
        margin-left: auto;
        margin-right: auto;
    }

    .is-clearfixed {
        @include crispy__clearfix();
    }
}
