/**
 * helper: float
 *
 * float & centering
 *
 *
 *
 * @author Björn Hase
 *
 */

@mixin crispy__float() {
    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .float-none {
        float: none;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .clearfix {
        @include crispy__clearfix();
    }
}
