/**
 * helpers for margin
 *
 *
 *
 * @author Björn Hase
 *
 */

$crispy__margin-top: toEm($crispy__margin) !default;
$crispy__margin-bottom: toEm($crispy__margin) !default;

@mixin crispy__margin() {
    .margin-top-0x {
        margin-top: 0;
    }

    .margin-top-1x {
        margin-top: $crispy__margin-top;
    }

    .margin-top-2x {
        margin-top: $crispy__margin-top * 2;
    }

    .margin-top-3x {
        margin-top: $crispy__margin-top * 3;
    }

    .margin-top-4x {
        margin-top: $crispy__margin-top * 4;
    }

    .margin-top-5x {
        margin-top: $crispy__margin-top * 5;
    }

    .margin-bottom-0x {
        margin-bottom: 0;
    }

    .margin-bottom-1x {
        margin-bottom: $crispy__margin-bottom;
    }

    .margin-bottom-2x {
        margin-bottom: $crispy__margin-bottom * 2;
    }

    .margin-bottom-3x {
        margin-bottom: $crispy__margin-bottom * 3;
    }

    .margin-bottom-4x {
        margin-bottom: $crispy__margin-bottom * 4;
    }

    .margin-bottom-5x {
        margin-bottom: $crispy__margin-bottom * 5;
    }
}
