/**
 * helper: media
 *  
 * for img & video
 *
 *
 * @author Björn Hase
 *
 */

@mixin crispy__media() {
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .img-rounded {
        border-radius: 50%;
    }

    .video-responsive {
        display: block;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;

        iframe, object, embed {
            border: 0;
            bottom: 0;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
}
