/**
 * helper: spacing
 *
 *
 * @author Björn Hase
 *
 */

@mixin crispy__spacing() {
    @for $i from 0 through $crispy__spacing__steps {
        .has-margin-top-#{($i + 1)}x {
            margin-top: ($crispy__spacing * $i) !important;
        }

        .has-margin-left-#{($i + 1)}x {
            margin-left: ($crispy__spacing * $i) !important;
        }

        .has-margin-bottom-#{($i + 1)}x {
            margin-bottom: ($crispy__spacing * $i) !important;
        }

        .has-margin-right-#{($i + 1)}x {
            margin-right: ($crispy__spacing * ($i)) !important;
        }

        .has-padding-top-#{($i + 1)}x {
            padding-top: ($crispy__spacing * $i) !important;
        }

        .has-padding-left-#{($i + 1)}x {
            padding-left: ($crispy__spacing * $i) !important;
        }

        .has-padding-bottom-#{($i + 1)}x {
            padding-bottom: ($crispy__spacing * $i) !important;
        }

        .has-padding-right-#{($i + 1)}x {
            padding-right: ($crispy__spacing * $i) !important;
        }
    }
}
