/**
 * visibilty
 *
 *
 * @author Björn Hase
 *
 */

@mixin crispy__visibilty() {
    .hide {
        display: none;
    }

    .hide {
        &--xs {
            @include crispy__media-xs() {
                display: none;
            }
        }

        &--sm {
            @include crispy__media-sm() {
                display: none;
            }
        }

        &--md {
            @include crispy__media-md() {
                display: none;
            }
        }

        &--lg {
            @include crispy__media-lg() {
                display: none;
            }
        }

        &--xlg {
            @include crispy__media-xlg() {
                display: none;
            }
        }
    }

    .show {
        display: block;

        &--inline {
            display: inline;
        }

        &--inline-block {
            display: inline-block;
        }
    }

    // block
    .show {
        &--xs {
            @include crispy__media-xs() {
                display: block;
            }
        }

        &--sm {
            @include crispy__media-sm() {
                display: block;
            }
        }

        &--md {
            @include crispy__media-md() {
                display: block;
            }
        }

        &--lg {
            @include crispy__media-lg() {
                display: block;
            }
        }

        &--xlg {
            @include crispy__media-xlg() {
                display: block;
            }
        }
    }

    // show inline
    .show {
        &--inline-xs {
            @include crispy__media-xs() {
                display: inline;
            }
        }

        &--inline-sm {
            @include crispy__media-sm() {
                display: inline;
            }
        }

        &--inline-md {
            @include crispy__media-md() {
                display: inline;
            }
        }

        &--inline-lg {
            @include crispy__media-lg() {
                display: inline;
            }
        }

        &--inline-xlg {
            @include crispy__media-xlg() {
                display: inline;
            }
        }
    }

    // show inline block
    .show {
        &--inline-block-xs {
            @include crispy__media-xs() {
                display: inline-block;
            }
        }

        &--inline-block-sm {
            @include crispy__media-sm() {
                display: inline-block;
            }
        }

        &--inline-block-md {
            @include crispy__media-md() {
                display: inline-block;
            }
        }

        &--inline-block-lg {
            @include crispy__media-lg() {
                display: inline-block;
            }
        }

        &--inline-block-xlg {
            @include crispy__media-xlg() {
                display: inline-block;
            }
        }
    }
}
