/**
 * helper: width
 *
 *
 * @author Björn Hase
 *
 */

@mixin crispy__width() {
    .has-width-25 {
        width: 25%;
    }

    .has-width-50 {
        width: 50%;
    }

    .has-width-75 {
        width: 75%;
    }

    .has-width-100 {
        width: 100%;
    }
}
