<!doctype html>
<html lang="en_EN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %> | Crispy CSS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header id="header" class="header header--fixed background-color-info">
		<div class="container">
			<div class="grid">
				<div class="col-12 col-md-4">
                    <a href="/" class="text-color-white text-bold">
                        <svg class="icon text-size-mega" alt="Crispy CSS">
                            <use xlink:href="symbol-defs.svg#icon-logo" />
                        </svg>
                        Crispy CSS
                    </a>
                </div>
                <div class="col-12 col-md-8">
                    <nav class="group text-right show">
                        <ul class="group">
                            <li class="group__item">
                                <a href="getting-started.html" class="text-color-white">
                                    Getting started!
                                </a>
                            </li>
                            <li class="group__item">
                                <a href="core.html" class="text-color-white">
                                    Core
                                </a>
                            </li>
                            <li class="group__item">
                                <a href="components.html" class="text-color-white">
                                    Components
                                </a>
                            </li>
                            <li class="group__item">
                                <a href="helpers.html" class="text-color-white">
                                    Helpers
                                </a>
                            </li>
                            <li class="group__item">
                                <a href="mixins.html" class="text-color-white">
                                    Mixins
                                </a>
                            </li>
                            <li class="group__item">
                                <a href="functions.html" class="text-color-white">
                                    Functions
                                </a>
                            </li>
                        </ul>
                    </nav>
				</div>
			</div>
		</div>
	</header>

    <main class="container">
        <div class="grid">
            <div class="col-12">
                <header class="header">
                    <h1 class="padding-top-4 padding-bottom-2 text-center">
                        <%= htmlWebpackPlugin.options.title %>
                    </h1>
                </header>

                <%= htmlWebpackPlugin.options.body %>
            </div>
        </div>
    </main>

    <%= htmlWebpackPlugin.options.footer %>
</body>
</html>