/**
 * component: code
 *
 * <pre class="code">
 *     <code>
 *     //
 *     </code>
 * </pre>
 *
 * @author Björn Hase
 *
 */

$crispy__code__font-size: $crispy__font-size !default;
$crispy__code__font-family: monospace, monospace !default;
$crispy__code__padding: toEm(10px 20px) !default;
$crispy__code__margin: toEm(0 0 $crispy__margin) !default;
$crispy__code__border: 1px solid $crispy__color-border !default;
$crispy__code__background-color: #f9f9f9 !default;

@mixin crispy__code() {
    .code {
        font-family: $crispy__code__font-family;
        white-space: pre;
        display: block;

        overflow-y: hidden;
        overflow-x: auto;
        padding: $crispy__code__padding;
        border: $crispy__code__border;
        background-color: $crispy__code__background-color;

        margin: $crispy__code__margin;

        @include crispy__font-size($crispy__code__font-size);
    }
}
