/**
 * component: group
 *
 * <nav class="group group--horizontal">
 *     <ul class="group__section">
 *         <li class="group__item"></li>
 *     <ul>
 * </nav>
 *
 * @author Björn Hase
 *
 */

$crispy__group__character: '/' !default;
$crispy__group__character__margin: toEm(0 $crispy__margin 0) !default;

@mixin crispy__group() {
    .group {
        &--horizontal {
            .group__item, .group__section {
                display: inline-block;
            }
        }

        &__section {
            @include crispy__clearlist();

            &--separate {
                .group__item {
                    &:after {
                        margin: $crispy__group__character__margin;
                        content: $crispy__group__character;
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
