/**
 *
 *
 * @author Björn Hase 
 *
 */


@mixin crispy__typography() {
    .code {
        font-family: monospace, monospace;
        font-size: 1em;
        white-space: pre;
        display: block;

        overflow-y: hidden;
        overflow-x: auto;
        padding: 10px 20px;
        border: 1px solid #d4d4d4;
        background-color: #f9f9f9;
    }
}
