@import
    'text';

/**
 * field
 *
 *
 * @author Björn Hase
 *
 */

$crispy__field__margin: toEm(0 0 $crispy__margin 0) !default;

$crispy__field__input__font-size: $crispy__body__font-size !default;
$crispy__field__input__padding: toEm(6px 8px) !default;
$crispy__field__input__color: $crispy__color-text !default;

%field__ {
    line-height: $crispy__golden-ratio;
    padding: $crispy__field__input__padding;
    color: $crispy__field__input__color;
    appearance: none;

    @include crispy__font-size($crispy__field__input__font-size);
}

@mixin crispy__field() {
    .field {
        margin: $crispy__field__margin;
    }
}
