/**
 * component: panel
 *
 * <div class="field">
 *     <div class="field__panel">
 *         <ul>
 *           <li>item 1<li>
 *         </ul>
 *     </div>
 * </div>
 *
 * @author Björn Hase
 *
 */

$crispy__field__panel__padding: toEm($crispy__spacing) !default;
$crispy__field__panel__color: white !default;
$crispy__field__panel__background-color--valid: $crispy__color-success !default;
$crispy__field__panel__background-color--error: $crispy__color-danger !default;

@mixin crispy__field__panel() {
    .field__panel {
        padding: $crispy__field__panel__padding;
    }

    .field--valid {
        .field__panel {
            color: white;
            background-color: $crispy__field__panel__background-color--valid;
        }
    }

    .field--error {
        .field__panel {
            color: white;
            background-color: $crispy__field__panel__background-color--error;
        }
    }
}
