/**
 * input, textarea
 *
 *
 * @author Björn Hase
 *
 */

$crispy__field__checkbox: !default;

@mixin crispy__field__checkbox() {
    .field__checkbox {

        label {
            &:hover {
                cursor: pointer;
            }

            .field__checkbox__icon {
                fill: $checkbox__icon-color-unchecked;
                transition: $checkbox__transition-color;
            }

            .field__checkbox__checked {
                fill: $checkbox__icon-color-checked;
                display: none;
            }

            .field__checkbox__unchecked {
                fill: $checkbox__icon-color-unchecked;
            }
        }

        input[type="checkbox"] {
            position: relative;
            display: none;

            &:checked + label .field__checkbox__checked {
                display: inline-block;
            }

            &:checked + label .field__checkbox__unchecked {
                display: none;
            }

            &:disabled + label .field__checkbox__icon {
                fill: $checkbox__icon-color--disabled;
            }

            &:disabled + label:hover {
                cursor: not-allowed;
            }

            appearance: none;
        }

        &--valid {
            border-color: $crispy__field__border-color--valid;
        }

        &--error {
            border-color: $crispy__field__border-color--error;
        }

        &:focus {
            border-color: $crispy__field__border-color--focus;
        }

        @include crispy__font-size($crispy__field__font-size);
    }
}
