/**
 * text
 *
 * <div class="field">
 *     <label class="field__label">
 *         input
 *         <input type="text" class="field__text" />
 *     </label>
 * </div>
 *
 * @author Björn Hase
 *
 */

$crispy__field__text__border: 1px solid $crispy__color-secondary !default;

$crispy__field__text__border-color--focus: $crispy__color-primary !default;
$crispy__field__text__border-color--valid: $crispy__color-success !default;
$crispy__field__text__border-color--error: $crispy__color-danger !default;

@mixin crispy__field__text() {
    .field__text {
        @extend %field__;

        display: block;
        width: 100%;
        border: $crispy__field__border;

        &--valid {
            border-color: $crispy__field__border-color--valid;
        }

        &--error {
            border-color: $crispy__field__border-color--error;
        }

        &:focus {
            border-color: $crispy__field__border-color--focus;
        }
    }
}
