/**
 * component: nav
 *
 *
 * @author Björn Hase
 *
 */

@mixin example__nav()
{
    .nav {
        position: relative;

        a {
            @include crispy__font-size(18px);
        }

        ul {
            margin-left: 0;
        }

        @include crispy__media-sm() {
            position: absolute;
        }

        &--fixed {
            @include crispy__media-sm() {
                position: fixed;
                top: 40px !important;
            }
        }
    }
}
