/**
 * list
 *
 *
 * @author Björn Hase
 *
 */


/**
 * clear default styles from list
 *
 *
 */
@mixin crispy-boilerplate-list-clear() {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}
