<footer class="footer background-color-info margin-top-4 padding-top-3 padding-bottom-3">
    <div class="container">
        <div class="grid">
            <div class="col-12">
                <div class="text-center">
                    <ul class="group group--hr">
                        <li class="group__item">
                            <a class="text-color-white" href="/imprint.html">Imprint</a>
                        </li>
                        <li class="group__item">
                            <a class="text-color-white" href="/privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="margin-top-1 margin-bottom-0">
                        Made with Euphorie by Björn Hase, <a class="text-color-white" href="https://tententakelfabrik.de" target="_blank">Tentakelfabrik</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>