<!-- functions / stripUnit -->
<h3 class="h4 margin-top-0">
    stripUnit()
</h3>
<h4 class="h6 margin-top-1">Sass:</h4>
<pre class="code"><code>stripUnit(10px);</code></pre>
<p>
    Returns value without unit.
</p>

<!-- functions / zIndex -->
<h3 class="h4 margin-top-0">
    zIndex(name)
</h3>
<h4 class="h6 margin-top-1">Sass:</h4>
<pre class="code"><code>zIndex('modal');</code></pre>
<p>
    Returns value from $crispy__z-index.
</p>
<h4 class="h6 margin-top-1">Sass:</h4>
<pre class="code"><code>$crispy__z-index: (
    'overlay': 90,
    'modal'  : 100
);</code></pre>