/**
 * template: home
 *
 *
 * @author Björn Hase
 *
 */

@mixin example__home()
{
    .lead {
        margin-top: -(toEm(5px));
    }

    .panel {
        border: 1px solid lighten($crispy__color-secondary, 10%);
        background-color: lighten($crispy__color-secondary, 25%);
    }

    .sm, .md, .md-only, .lg-only {
        display: none;
    }

    .sm {
        @include crispy__media-sm() {
            display: block;
        }
    }

    .md {
        @include crispy__media-md() {
            display: block;
        }
    }

    .md-only {
        @include crispy__media-md-only() {
            display: block;
        }
    }

    .lg-only {
        @include crispy__media-lg-only() {
            display: block;
        }
    }
}
