/**
 * component: radio
 *
 * <div class="field">
 *     <input id="" type="text" class="field__radio" />
 *     <label for="" class="field__label">
 *         <i class="icon field__radio__checked">
 *
 *         </i>
 *         <i class="icon field__radio__checked">
 *
 *         </i>
 *    </label>
 * </div>
 *
 * @author Björn Hase
 *
 */

$crispy__field__radio__disabled__color: $crispy__color-secondary !default;
$crispy__field__radio__checked__color: $crispy__color-success !default;
$crispy__field__radio__unchecked__color: $crispy__color-text !default;

$crispy__field__radio__color--valid: $crispy__color-success !default;
$crispy__field__radio__color--error: $crispy__color-danger !default;

@mixin crispy__field__radio() {
    .field__radio {
        position: relative;
        display: none;

        + .field__label {
            .field__radio__checked {
                display: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &:checked + .field__label &__checked {
            display: inline-block;
        }

        &:checked + .field__label &__unchecked {
            display: none;
        }

        &__checked {
            fill: $crispy__field__radio__checked__color;
        }

        &__unchecked {
            fill: $crispy__field__radio__unchecked__color;
        }
    }

    .field--valid {
        .field__radio__checked, .field__radio__unchecked {
            fill: $crispy__field__radio__color--valid;
        }
    }

    .field--error {
        .field__radio__checked, .field__radio__unchecked {
            fill: $crispy__field__radio__color--error;
        }
    }
}
