/**
 * components: button
 *
 *
 * @author Björn Hase
 *
 */

$crispy__button__padding: toEm(10px 25px) !default;

@mixin crispy__button() {
    .button {
        position: relative;
        display: inline-block;
        text-decoration: none;

        vertical-align: middle;
        appearance: none;
        padding: $crispy__button__padding;

        &--wide {
            width: 100%;
        }

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }

        &:focus {
            outline: none;
        }
    }
}
