/**
 * heading
 *
 * loop to create for all heading styles
 * creating css-classes with same naming
 *
 *
 * @author Björn Hase
 *
 */


// text
$heading__font-sizes: (
    'h1': 36px,
    'h2': 30px,
    'h3': 24px,
    'h4': 18px,
    'h5': 14px,
    'h6': 12px
) !default;

$heading__font-weight: bold !default;
$heading__font-family: Arial, Helvetica, Neue Helvetica, sans-serif !default;
$heading__line-height: 1.5 !default;

$heading__margin: 0 0 pxToEm(20px) !default;

@mixin crispy-boilerplate-heading {
    @each $h, $font-size in $heading__font-sizes {
        #{$h}, .#{$h} {
            font-family: $heading__font-family;
			font-weight: $heading__font-weight;
			line-height: $heading__line-height;
            margin: $heading__margin;

            @include font-size($font-size);

            @content;
        }
    }
}
