/**
 * body
 *
 *
 *
 * @author Björn Hase
 *
 */


// text
$body__font-size: 12px !default;
$body__font-family: Arial, Helvetica, Neue Helvetica, sans-serif !default;
$body__line-height: 1.5 !default;
$body__direction: ltr !default;

// colors
$body__color: black !default;
$body__backgroun-color: white !default;

@mixin crispy-boilerplate-body {
    body {
        font-family: $body__font-family;
        font-weight: normal;
        line-height: $body__line-height;

        color: $body__color;
        background-color: $body__background-color;

        direction: $body__direction;

        @include font-size($body__font-size);

        @content;
    }
}
