/**
 * button
 *
 *
 *
 * @author Björn Hase
 *
 */

@mixin crispy-boilerplate-button() {
    .button {
        position: relative;
        display: inline-block;

        vertical-align: middle;
        appearance: none;

        &--wide {
            width: 100%;
        }

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }

        &:focus {
            outline: none;
        }

        @content;
    }
}
