/**
 * add font-size in px as fallback
 * and in rem
 *
 *
 * @param {px} $font-size
 *
 */
@mixin font-size($font-size) {
    font-size: $font-size;
    font-size: pxToRem($font-size);
}

/**
 * add modificators for font-size from a map
 *
 *
 * @param {map} $font-sizes
 *
 */
@mixin font-sizes($font-sizes) {
    @each $name, $font-size in $font-sizes {
       @if ($name == 'default') {
           @include font-size($font-size);
       } @else {
           &--#{$name} {
               @include font-size($font-size);
           }
       }
   }
}

/**
 * clearfix to end floating
 *
 *
 *
 */
@mixin clearfix() {
    &::before,
    &::after {
        display: table;
        content: ' ';
    }

    &::after {
        clear: both;
    }
}

/**
 * clear default styles from list
 *
 *
 */
@mixin crispy-boilerplate-list-clear() {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}
