@import
    '../../node_modules/normalize.css/normalize',
    '../../node_modules/reflex-grid/scss/reflex';

/**
 * base
 *
 *
 * @author Björn Hase
 *
 */

html {
    font-size: 100%;
}

body,
html {
    height: 100%;
}

html,
legend {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// paragraphs
p {
    margin: 0 0 $crispy__margin 0;
}

// Semantic text elements
a,
ins,
u {
  text-decoration-skip: ink edges;
}

a {
    color: $crispy__color-primary;

    &:hover {
        color: $crispy__color-text;
    }

    &:focus {
        outline: none;
    }
}

abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
    text-decoration: none;
}

kbd {
    // @TODO do something
}

mark {
    padding: pxToEm(10px);

}

// blockquote
blockquote {
    border-left: 1px solid $crispy__color-text;
    margin-left: 0;
    padding: pxToEm(10px) pxToEm(20px);

    p:last-child {
        margin-bottom: 0;
    }
}

// lists
ul, ol, dl {
    margin: 0 0 $crispy__margin 0;
}

ul {
    list-style-position: outside;
}

// divider
hr {
    border: 0;
    border-top: 1px solid $crispy__color-text;
}

// body
body {
    font-family: $crispy__body__font-family;
    font-weight: normal;
    font-size: 100%;
    line-height: $crispy__body__line-height;
    color: $crispy__body__color;
    background-color: $crispy__body__background-color;
    direction: $crispy__body__direction;

    @include font-size($crispy__body__font-size);
}
