@import
    '../../node_modules/normalize.css/normalize',
    '../../node_modules/reflex-grid/scss/reflex';

/**
 * base
 *
 *
 * @author Björn Hase
 *
 */

html {
    font-size: 100%;
}

body,
html {
    height: 100%;
}

html,
legend {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// paragraphs
p {
    margin: 0 0 pxToEm($crispy__margin) 0;
}

// Semantic text elements
a,
ins,
u {
  text-decoration-skip: ink edges;
}

a {
    color: $crispy__color-primary;

    &:hover {
        color: $crispy__color-text;
    }

    &:focus {
        outline: none;
    }
}

abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
    text-decoration: none;
}

kbd {
    // @TODO do something
}

mark {
    padding: pxToEm(10px);

}

// blockquote
blockquote {
    border-left: 1px solid $crispy__color-text;
    margin-left: 0;
    padding: pxToEm(10px) pxToEm(20px);

    p:last-child {
        margin-bottom: 0;
    }
}

// lists
ul, ol, dl {
    padding: 0;
    margin: 0 0 pxToEm($crispy__margin) pxToEm($crispy__margin);
}

ul ul, ol ol {
    margin-top: pxToEm($crispy__margin / 2);
}

ol {
    list-style: decimal inside;
}

ul {
    list-style: disc inside;
}

dd, dt {
    margin: 0;
}

dt {
    font-weight: bold;
}

// media
figure  {
    margin: 0 0 pxToEm($crispy__margin);
}

figcaption {
    margin: pxToEm($crispy__margin) 0 0;
}

// divider
hr {
    border: 0;
    border-top: 1px solid $crispy__color-text;
    margin: pxToEm($crispy__margin) 0
}

// body
body {
    font-family: $crispy__body__font-family;
    font-weight: normal;
    font-size: 100%;
    line-height: $crispy__body__line-height;
    color: $crispy__body__color;
    background-color: $crispy__body__background-color;
    direction: $crispy__body__direction;

    @include crispy__font-size($crispy__body__font-size);
}
