/**
 * config
 *
 *
 * @author Björn Hase
 *
 */

// font
$crispy__font-size: 16px !default;
$crispy__golden-ratio: 1.618 !default;

// margin
$crispy__margin: 5px !default;

// colors
$crispy__color-primary: #f0c209 !default;
$crispy__color-secondary: #b3b2af !default;
$crispy__color-success: #5cb85c !default;
$crispy__color-warning: #f0ad4e !default;
$crispy__color-danger: #d9534f !default;
$crispy__color-info: #0090d4 !default;
$crispy__color-text: #363636 !default;
$crispy__color-background: #ffffff !default;

// colors as map
$crispy__colors: (
    'primary': $crispy__color-primary,
    'secondary': $crispy__color-secondary,
    'success': $crispy__color-success,
    'warning': $crispy__color-warning,
    'danger': $crispy__color-danger,
    'info': $crispy__color-info
) !default;

// body
$crispy__body__font-size: 16px !default;
$crispy__body__font-family: Arial, Helvetica, Neue Helvetica, sans-serif !default;
$crispy__body__line-height: $crispy__golden-ratio !default;
$crispy__body__direction: ltr !default;
$crispy__body__color: $crispy__color-text !default;
$crispy__body__background-color: $crispy__color-background !default;

// font-sizes as map
$crispy__font-sizes: (
    'default': $crispy__body__font-size,
    'small': 16px,
    'large': 20px
) !default;

// buttons colors
$crispy__button__colors: (
    'default': (
        'color': #ffffff,
        'background-color': $crispy__color-primary
    ),
    'secondary': (
        'color': #ffffff,
        'background-color': $crispy__color-secondary
    ),
    'success': (
        'color': #ffffff,
        'background-color': $crispy__color-success
    ),
    'warning': (
        'color': #ffffff,
        'background-color': $crispy__color-warning
    ),
    'danger': (
        'color': #ffffff,
        'background-color': $crispy__color-danger
    ),
    'info': (
        'color': #ffffff,
        'background-color': $crispy__color-info
    )
) !default;
