@import
    'mixins/fonts',
    'mixins/media-queries';

/**
 * clearfix to end floating
 *
 *
 *
 */
@mixin crispy__clearfix() {
    &::before,
    &::after {
        display: table;
        content: ' ';
    }

    &::after {
        clear: both;
    }
}

/**
 * clear default styles from list
 *
 *
 */
@mixin crispy__clearlist() {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}
