@import
    'crispy';

// components
@include crispy__button();
@include crispy__code();
@include crispy__group();
@include crispy__heading();
@include crispy__hero();
@include crispy__icon();
@include crispy__modal();
@include crispy__panel();
@include crispy__table();

.button {
    border: 1px solid $crispy__color-primary;
    background-color: $crispy__color-primary;
    color: white;

    svg {
        fill: white;
    }
}

.panel {
    border: 1px solid lighten($crispy__color-secondary, 10%);
    background-color: lighten($crispy__color-secondary, 25%);
}


.sm, .md, .md-only, .lg-only {
    display: none;
}

.sm {
    @include crispy__media-sm() {
        display: block;
    }
}

.md {
    @include crispy__media-md() {
        display: block;
    }
}

.md-only {
    @include crispy__media-md-only() {
        display: block;
    }
}

.lg-only {
    @include crispy__media-lg-only() {
        display: block;
    }
}

// helpers
@include crispy__align();
@include crispy__margin();
@include crispy__media();
@include crispy__text();
@include crispy__width();
